/* setup container styles */
.bubble-container {
	background: linear-gradient(145deg, #e5e9f1, #fff);
	height: calc(100% - 100px);
	width: 100%;
	overflow: hidden;
	position: relative;
}

.bubble-wrap {
	position: absolute;
	top: 10px;
	bottom: 100px;
	left: 0;
	right: 0;
    padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 25px;
	overflow: auto;
}

/* progress bar */
#mathbot-progress-container {
    width: 100%;
    background-color: #d3d3d3;
}

#mathbot-progress-bar {
    width: 1%;
    height: 0px;
    background-color: #4097bf;
	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}